
.deps/

autom4te.cache/

*.o

Makefile.in

aclocal.m4

compile

config.guess

config.h

config.h.in~

config.log

config.status

config.sub

configure

configure~

depcomp

install-sh

Makefile

missing

stamp-h1

*.ttf.h
*.png.h

x11power
