.deps
autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
k16brightd
*.o
ltmain.sh
Makefile.in
Makefile
missing
stamp-h1